
@{
    ViewBag.Title = "Airport Services | Lost &amp; Found";
    Layout = "~/Views/Shared/_LayoutLandings.cshtml";
}

<div class="paginate-container">
    <!-- Rounded Bubble with title Left Section-->
    <div class="paginate-container-imgTitlesec-fl">
        <div class="paginate-container-imgTitlesec">
            <div class="bubbleImg-sec">
                <div class="bubble-rounded bubble-rounded-inner-airportServices"> <img src="~/images/icons/icon-airport-services.svg" alt="icon-airport-services"> </div>
            </div>
            <div class="bubbleTitle">
                <h2>Lost &amp; Found</h2>
                <p>Experience our best-in-class facilities and services for passengers</p>
            </div>
            <div class="clearfix"></div>

            <div class="cust-back-btn">
                <a href="/Landing/AirportServices"><img src="~/images/icon-back-button.svg" alt="Back Button Icon"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- END Rounded Bubble with title Left Section -->
    <!-- Accordian Details Right section -->
    <div class="paginate-container-accordian-fl">
        <div class="paginate">
            <div class="items">
                <div id="sec_1" class="sec_content_holder" style="border-bottom: 0px;">
                    <button class="accordion active"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Lost &amp; Found</button>
                    <div class="panel" style="display: block;">
                        <p>Lost something? Help us help you.</p>
                        <p>Not to Worry If you have lost or misplaced any of your valuable at the airport, we are there to assist you.</p>
                        <p>Lost & Found Claim Process:</p>
                        <ul class="listAirportServices">
                            <li style="margin-bottom: 20px;">
                                <strong>Step 1</strong>: Contact Lost &amp; Found Department and submit your details:
                                <ul>
                                    <li style="list-style-type: square;display:none">Contact Number (24*7) +91-7227923238</li>
                                    <li style="list-style-type: square; display:none;">Email id-XXXXX</li>

                                    <li style="list-style-type: square;">Email id: lostfound.amd@adani.com</li>
                                    <li style="list-style-type: square;">Contact number-:+91-7227923238</li>
                                </ul>
                            </li>
                            <li style="margin-bottom: 20px;">
                                <strong>Step 2</strong>: Lost &amp; Found Team will Verify the details and revert to Passenger.
                                <ul>
                                    <li style="list-style-type: square;">Response Time - 48 working hours&nbsp;</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Step 3</strong>: Incase Item is Verified, the lost article / articles may be claimed on producing the following documents during Working hours only
                                <ul class="pl-5 mb-3">
                                    <li style="list-style-type: square;">Copy of Boarding Card.</li>
                                    <li style="list-style-type: square;">Copy of Passport / ID card issued by any Government.</li>
                                    <li style="list-style-type: square;">The details of the items being claimed.</li>
                                    <li style="list-style-type: square;">A letter filled and signed by the owner with details of the items being claimed.</li>
                                    <li style="list-style-type: square;">Government authorized photo identity card preferably Passport / Driving License / Aadhaar Card / Voter card.</li>
                                </ul>
                            </li>
                        </ul>
                        <p class="pmbot">Claim time: Monday - Saturday (10.00 am – 6.00 pm).</p>
                    </div>
                </div>
            </div>
            <div class="pager">
                <!--<div class="firstPage">&laquo;</div>
                          <div class="previousPage">&lsaquo;</div>-->
                <div class="pageNumbers mtop40"></div>
                <!--<div class="nextPage">&rsaquo;</div>
                          <div class="lastPage">&raquo;</div>-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <!-- END Accordian Details Right section -->
</div>

