
@{
    ViewBag.Title = "Airport Services | Other Service";
    Layout = "~/Views/Shared/_LayoutLandings.cshtml";
}

<div class="paginate-container">
    <!-- Rounded Bubble with title Left Section-->
    <div class="paginate-container-imgTitlesec-fl">
        <div class="paginate-container-imgTitlesec">
            <div class="bubbleImg-sec">
                <div class="bubble-rounded bubble-rounded-inner-airportServices"> <img src="~/images/icons/icon-airport-services.svg" alt="icon-airport-services"> </div>
            </div>
            <div class="bubbleTitle">
                <h2>Other Service</h2>
                <p>Experience our best-in-class facilities and services for passengers</p>
            </div>
            <div class="clearfix"></div>

            <div class="cust-back-btn">
                <a href="/Landing/AirportServices"><img src="~/images/icon-back-button.svg" alt="Back Button Icon"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- END Rounded Bubble with title Left Section -->
    <!-- Accordian Details Right section -->
    <div class="paginate-container-accordian-fl">
        <div class="paginate">
            <div class="items">
                <div id="sec_1" class="sec_content_holder">
                    <button class="accordion active"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Baby Care</button>
                    <div class="panel" style="display: block;">
                        <p><strong>Best care facilities for your baby</strong></p>
                        <p>At our baby care room you can attend to your infants in comfort and privacy.</p>
                        <p class="pmbot">Baby Care Room located at Behind Check-In area and post Security Hold Area.</p>
                    </div>
                </div>
                <div id="sec_2" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Medical Facilities</button>
                    <div class="panel">
                        <p>Keeping with our continuous endeavor in providing our Passenger health facilities, Ahmedabad Airport has tie-up with Apollo Clinic for Medical & First-aid facilities available.</p>
                        <p class="pmbot"><strong>Location:</strong> Pre Check-in area.</p>
                    </div>
                </div>
                <div id="sec_3" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Tourist Counter</button>
                    <div class="panel">
                        <p class="pmbot">The facilitation counter is located at the terminal arrival gate for passengers who want to know more about Gujarat Tourism.</p>
                    </div>
                </div>
                <div id="sec_4" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Cargo</button>
                    <div class="panel">
                        <p><b>1) Cargo Handling Facilities are equipped with:</b></p>

                        <div style="margin-left: 20px;">
                            <p style="margin-bottom: 0px;"><b>International</b></p>
                            <ul class="listOtherServices">
                                <li>Export Handling</li>
                                <li>Import Handling</li>
                            </ul>
                            <p style="margin-bottom: 0px;" class="mb-2"><b>Domestic</b></p>
                            <ul class="listOtherServices">
                                <li>Outbound</li>
                                <li>Inbound</li>
                            </ul>
                            <p style="margin-bottom: 0px;"><b>Special Cargo Handling Commodities:</b></p>
                            <ul class="listOtherServices">
                                <li>Valuable</li>
                                <li>Un-accompanied Baggage</li>
                                <li>Human Remain (HUM)</li>
                                <li>Vulnerable</li>
                                <li>Heavy/Odd size cargo (HEA)</li>
                                <li>Temperature Sensitive Shipment</li>
                                <li>Post Office Mail</li>
                                <li>Courier</li>
                                <li>Dangerous Goods</li>
                            </ul>
                        </div>

                        <p><b>2) Cargo Facility &amp; Handling Equipment's.</b></p>
                        <div style="margin-left: 20px;">
                            <div class="table-responsive mb-4">
                                <table class="tblOtherServices" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 40%;">Facility</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cold storage units</td>
                                            <td>Temperature maintained +/-15 to 25 oC &amp; +/- 2 to +8oC</td>
                                        </tr>
                                        <tr>
                                            <td>Strong room for VAL</td>
                                            <td>Under CCTV surveillance 24 X 7</td>
                                        </tr>
                                        <tr>
                                            <td>DGR handling dedicated area</td>
                                            <td>As per IATA standard</td>
                                        </tr>
                                        <tr>
                                            <td>Storage racks for special cargo</td>
                                            <td>
                                                <ul class="ul-bullets">
                                                    <li>ULD storage</li>
                                                    <li>Heavy/Odd size cargo (HEA)</li>
                                                    <li>Separate area dedicated for HUM</li>
                                                    <li>Post office mail</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Latest equipment</td>
                                            <td>
                                                <ul class="ul-bullets">
                                                    <li>Forklift of various required capacities</li>
                                                    <li>Specialized Build-up &amp; Breakdown Facilities</li>
                                                    <li>Automated Weighing Scale</li>
                                                    <li>Security equipment’s like CCTV, HHMD, DFMD and ETD </li>
                                                    <li>X- ray machines (Latest model with all necessary function)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <p><b>3) Cargo Facility Operating Timings:</b></p>
                        <div style="margin-left: 20px;" class="pmbot">
                            <div class="table-responsive">
                                <table class="tblOtherServices" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 40%;">Functions</th>
                                            <th>Timings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Acceptance/ Delivery</td>
                                            <td>Timings: 7 am – 7 pm</td>
                                        </tr>
                                        <tr>
                                            <td>Customs Available</td>
                                            <td>Timings: 11 am – 7 pm</td>
                                        </tr>
                                        <tr>
                                            <td>Bank facility</td>
                                            <td>Timings: 11 am – 5 pm</td>
                                        </tr>
                                        <tr>
                                            <td>Local transportation</td>
                                            <td>Timings: 9 am – 7 pm</td>
                                        </tr>
                                        <tr>
                                            <td>Airport Health Officer</td>
                                            <td>Timings: 10 am – 7 pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sec_5" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Passengers with Reduced Mobility</button>
                    <div class="panel">
                        <p><strong>Accessibility and mobility help</strong></p>
                        <p>Ahmedabad Airport is well equipped to provide services to passengers/patrons with reduced mobility and special needs.</p>
                        <p class="pmbot"><strong>Location:</strong> counter at the departure entry gate.</p>
                    </div>
                </div>
                <div id="sec_6" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Forex & ATMs</button>
                    <div class="panel">
                        <p style="margin-bottom: 0px;"><strong>Best rates on your foreign exchange/ ATMs</strong></p>
                        <p>ATMs are located across the Airport premises to cater to your monetary needs.</p>
                        <p style="margin-bottom: 0px;"><strong>ATM 1</strong></p>
                        <p><strong>Location:</strong> Kerbside</p>
                        <p style="margin-bottom: 0px;"><strong>Forex</strong></p>
                        <p>Forex exchange facility is available at Arrivals and Departures, offering easy access to outbound and inbound travelers. Passengers may utilize an array of Forex services on offer.</p>
                        <p style="margin-bottom: 0px;"><strong>Exchange 1 </strong></p>
                        <p class="pmbot"><strong>Location:</strong> Check-in hall - Departures</p>
                    </div>
                </div>

            </div>
            <div class="pager">
                <!--<div class="firstPage">&laquo;</div>
                          <div class="previousPage">&lsaquo;</div>-->
                <div class="pageNumbers mtop40"></div>
                <!--<div class="nextPage">&rsaquo;</div>
                          <div class="lastPage">&raquo;</div>-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <!-- END Accordian Details Right section -->
</div>

