
@{
    ViewBag.Title = "Airport Services | Pranaam Meet and Greet Service";
    Layout = "~/Views/Shared/_LayoutLandings.cshtml";
}

<div class="paginate-container">
    <!-- Rounded Bubble with title Left Section-->
    <div class="paginate-container-imgTitlesec-fl">
        <div class="paginate-container-imgTitlesec">
            <div class="bubbleImg-sec">
                <div class="bubble-rounded bubble-rounded-inner-airportServices"> <img src="~/images/icons/icon-airport-services.svg" alt="icon-airport-services"> </div>
            </div>
            <div class="bubbleTitle">
                <div class="divPranaamLogo">
                    <img src="~/images/airport-services/PSLogo.png" alt="" class="imgPranaamLogo" />
                </div>
                <p>Experience our best-in-class facilities and services for passengers</p>
            </div>
            <div class="clearfix"></div>

            <div class="cust-back-btn">
                <a href="/Landing/AirportServices"><img src="~/images/icon-back-button.svg" alt="Back Button Icon"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- END Rounded Bubble with title Left Section -->
    <!-- Accordian Details Right section -->
    <div class="paginate-container-accordian-fl">
        <div class="paginate">
            <div class="items">
                <div id="sec_1" class="sec_content_holder">
                    <button class="accordion active"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Premium guest relations & concierge service</button>
                    <div class="panel" style="display: block;">
                        <p class="pmbot">With a sharp focus on 'Customer of One', Pranaam is our state-of-the-art guest relation service delivering goodness to arriving, departing, and transiting travellers.</p>
                    </div>
                </div>
                <div id="sec_2" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Pranaam Meet And Greet Service</button>
                    <div class="panel">
                        <p>Pranaam is the essence of Indian culture depicting warmth and care.</p>
                        <p>Pranaam Meet and Greet Service is designed to provide guests a seamless and stress-free experience while travelling through Sardar Vallabhbhai Patel International Airport (SVPIA), Ahmedabad. It mirrors vision to provide highest standard of services and to ensure a unique and memorable experience to passengers at the airport.</p>
                        <p class="pmbot">Pranaam simplifies your journey right from the time you arrive at the airport, regardless of the airline or class of travel. It offers customized packages and an array of services to meet your requirements including professional assistance to corporate clients, warmth and care to family and elderly guests, and secured transit to young guests to make your journey a memorable experience.</p>
                    </div>
                </div>
                <div id="sec_3" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> For Reservation & Queries</button>
                    <div class="panel">
                        <p>Email: reservations.pranaam@adani.com</p>
                        <p>Phone: +91 8879992398/99</p>
                        <p class="pmbot">
                            <strong>Office Address</strong><br />Pranaam Guest Service,<br />
                            Sardar Vallabhbhai Patel International Airport,<br />
                            Hansol , Ahmedabad, Gujarat 380003
                        </p>
                    </div>
                </div>
                <div id="sec_4" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> For Corporate TIE-UPS and Memberships</button>
                    <div class="panel">
                        <p>Email: corporateenquiry.pranaam@adani.com</p>
                        <p>Phone: +91 8879992391/92</p>
                        <p class="pmbot">
                            <strong>Mailing Address</strong><br />Pranaam Guest Service,<br />
                            Mumbai International Airport Limited,<br />
                            Corporate Office, 1st Floor, Terminal 1(Arrivals)<br />
                            Chhatrapati Shivaji Maharaj International Airport<br />
                            Santacruz (East), Mumbai - 400099
                        </p>
                    </div>
                </div>
            </div>
            <div class="pager">
                <!--<div class="firstPage">&laquo;</div>
                          <div class="previousPage">&lsaquo;</div>-->
                <div class="pageNumbers mtop40"></div>
                <!--<div class="nextPage">&rsaquo;</div>
                          <div class="lastPage">&raquo;</div>-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <!-- END Accordian Details Right section -->
</div>

