
@{
    ViewBag.Title = "Airport Services | Airport Entry Ticket";
    Layout = "~/Views/Shared/_LayoutLandings.cshtml";
}

<div class="paginate-container">
    <!-- Rounded Bubble with title Left Section-->
    <div class="paginate-container-imgTitlesec-fl">
        <div class="paginate-container-imgTitlesec">
            <div class="bubbleImg-sec">
                <div class="bubble-rounded bubble-rounded-inner-airportServices"> <img src="~/images/icons/icon-airport-services.svg" alt="icon-airport-services"> </div>
            </div>
            <div class="bubbleTitle">
                <h2>Airport Entry Ticket</h2>
                <p>Experience our best-in-class facilities and services for passengers</p>
            </div>
            <div class="clearfix"></div>

            <div class="cust-back-btn">
                <a href="/Landing/AirportServices"><img src="~/images/icon-back-button.svg" alt="Back Button Icon"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- END Rounded Bubble with title Left Section -->
    <!-- Accordian Details Right section -->
    <div class="paginate-container-accordian-fl">
        <div class="paginate">
            <div class="items">
                <div id="sec_1" class="sec_content_holder" style="border-bottom: 0px;">
                    <button class="accordion active"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Airport Entry Ticket</button>
                    <div class="panel" style="display: block;">
                        <p class="pmbot">Coming Soon...</p>
                    </div>
                </div>
            </div>
            <div class="pager">
                <!--<div class="firstPage">&laquo;</div>
                          <div class="previousPage">&lsaquo;</div>-->
                <div class="pageNumbers mtop40"></div>
                <!--<div class="nextPage">&rsaquo;</div>
                          <div class="lastPage">&raquo;</div>-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <!-- END Accordian Details Right section -->
</div>

