
@{
    ViewBag.Title = "At The Airport";
    Layout = "~/Views/Shared/_LayoutLandings.cshtml";
}

<div class="paginate-container">
    <!-- Rounded Bubble with title Left Section-->
    <div class="paginate-container-imgTitlesec-fl">
        <div class="paginate-container-imgTitlesec">
            <div class="bubbleImg-sec">
                <div class="bubble-rounded bubble-rounded-bgOne"> <img src="~/images/icons/at-the-airport-icon.svg" alt="At The Airport"> </div>
            </div>
            <div class="bubbleTitle">
                <h2>At The Airport</h2>
                <!--<p>Your Para goes here.</p>-->
            </div>
            <div class="clearfix"></div>

            <div class="cust-back-btn">
                <a href="/Landing/index"><img src="~/images/icon-back-button.svg" alt="Back Button Icon"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="paginate-container-accordian-fl">
        <div class="paginate">
            <div class="items">
                <div id="sec_1" class="sec_content_holder">
                    <button class="accordion active"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> How many Terminals does the airport have?</button>
                    <div class="panel" style="display: block;">
                        <p>There are 02 Terminals</p>
                        <p>Terminal 1 for all domestic departures except for Air India.</p>
                        <p class="pmbot">Terminal 2 for all International departures and Air India domestic travel.</p>
                    </div>
                </div>
                <div id="sec_2" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> How early should I arrive at the airport before my flight?</button>
                    <div class="panel">
                        <p class="pmbot">Please arrive at least 2 hours before departure of your domestic flights and 3 hours before departure for your international flights.</p>
                    </div>
                </div>
                <div id="sec_3" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Is there Internet access or Wi-Fi at the Airport?</button>
                    <div class="panel">
                        <p>In the Airport terminal, there is an Airport Wi-Fi network that gives you access to the Internet free for 30 minutes.</p>
                        <p>You require a valid Indian mobile number to access it.</p>
                        <p class="pmbot">You can also buy Wi-Fi network for high speed after your free access is over at a minimal cost.</p>
                    </div>
                </div>
                <div id="sec_4" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Can I smoke at the Airport?</button>
                    <div class="panel">
                        <p class="pmbot">Yes, Smoking facilities are made available inside both terminals at the designated areas.</p>
                    </div>
                </div>
                <div id="sec_5" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> What are the Terminal operating hours?</button>
                    <div class="panel">
                        <p class="pmbot">Both Terminals are open 24x7.</p>
                    </div>
                </div>
                <div id="sec_6" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> What should I do if I lose or find something at the Airport?</button>
                    <div class="panel">
                        <p>If you lose something on board the aircraft, in the terminal, or in the airline coaches, then please contact the lost & found centre located at the terminal.</p>
                        <p class="pmbot">If you find something, you can hand over it to the employees at the Lost and Found counter. You will find the counter at the arrivals level or the departure level.</p>
                    </div>
                </div>
                <div id="sec_7" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Can I exchange money at the Airport?</button>
                    <div class="panel">
                        <p class="pmbot">Yes, there are currency exchange counters at the Airport now.</p>
                    </div>
                </div>
                <div id="sec_8" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Are there ATMs available at the Airport?</button>
                    <div class="panel">
                        <p class="pmbot">Yes, ATM facility is available but located outside the Terminals.</p>
                    </div>
                </div>
                <div id="sec_9" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Is a parent allowed to accompany a child through check-in?</button>
                    <div class="panel">
                        <p>Parent / Guardian of the child traveling alone needs to contact the respective airline for the completion of certain formalities before check-in.</p>
                        <p class="pmbot">A prescribed process is laid down for Unaccompanied Minor (UNMR) OR young passenger (YP) by the Airlines.</p>
                    </div>
                </div>
                <div id="sec_10" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> What is the definition of an Unaccompanied Minor Passenger (UMNR) or Young Passenger (YP)?</button>
                    <div class="panel">
                        <p>An Unaccompanied Minor Passenger (UMNR) is defined as a child between the age of 5 and 12 without the presence of a legal guardian or parent. This term is used in immigration law and in airline policies.</p>
                        <p class="pmbot">A Young Passenger (YP) is defined as a child between the age of 12 and 17.</p>
                    </div>
                </div>
                <div id="sec_11" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Is there any Child Care lounge facility at the Airport?</button>
                    <div class="panel">
                        <p class="pmbot">Yes, there are Baby care rooms available at the Airport equipped with changing facilities and other basic hygiene amenities.</p>
                    </div>
                </div>
                <div id="sec_12" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Are there any facilities available for passengers with special needs?</button>
                    <div class="panel">
                        <p>Yes, Airport offers barrier-free access for passengers.</p>
                        <p class="pmbot">Reserved parking slots, ramps, and special restrooms for passengers with special needs. In addition, wheelchairs are available at the departure ramp of the airport. Customer Service Executives at the airport assist and guide you during the journey. You can also contact your respective airline or the Airport Terminal Managers for any further assistance.</p>
                    </div>
                </div>
                <div id="sec_13" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Can a pregnant woman travel on domestic/international flights?</button>
                    <div class="panel">
                        <p>In most cases it is safe for women, with a normal pregnancy, to travel by air. However, a fitness certificate (certifying that the pregnant lady is fit to travel by Air) is required by the concerned doctor.</p>
                        <p>Women above 32 weeks of pregnancy are not allowed to travel by air.</p>
                        <p class="pmbot">For further information please contact your respective airline.</p>
                    </div>
                </div>
                <div id="sec_14" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Is there any waiting room facility available at the Airport?</button>
                    <div class="panel">
                        <p>Passengers holding a valid ticket to travel within the next 24 hours can access the visitor's lounge at the Terminal.</p>
                        <p class="pmbot">Please note that visitor entry to terminals and lounges may be restricted without prior notice due to security or operational reasons.</p>
                    </div>
                </div>
                <div id="sec_15" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Can I buy items from the duty-free shop when I visit the Airport?</button>
                    <div class="panel">
                        <p class="pmbot">Yes, all international departing / arriving passengers can buy from the Duty-free shops. However, there are restrictions on purchases of Cigarettes and Alcohol. The duty-free personnel will be able to assist with the queries about the restrictions.</p>
                    </div>
                </div>
                <div id="sec_16" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Can I carry medicines on board?</button>
                    <div class="panel">
                        <p>Medicines in limited quantities that are necessary or appropriate for the passenger during the journey, may be carried. For larger quantities a doctor’s prescription is mandatory.</p>
                        <p class="pmbot">Please get in touch with the respective airline for more information.</p>
                    </div>
                </div>
                <div id="sec_17" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Is there any Pharmacy?</button>
                    <div class="panel">
                        <p class="pmbot">Yes.</p>
                    </div>
                </div>
                <div id="sec_18" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Where can I give feedback / make a query about the Airport?</button>
                    <div class="panel">
                        <p>Please email your feedback to <a href="mailto:feedback.amd@adani.com">feedback.amd@adani.com</a></p>
                        <p>Please call us at <a href="tel:+917227923238" target="_blank">+91-7227923238</a></p>
                        <p>You can also share your feedbacks via – Facebook, the Airsewa app, etc.</p>
                        <p class="pmbot">You can also choose the “Talk To Us” icon in the main menu to initiate a video call with our passenger services executives and share your feedback.</p>
                    </div>
                </div>
            </div>
            <div class="pager">
                <!--<div class="firstPage">&laquo;</div>
                          <div class="previousPage">&lsaquo;</div>-->
                <div class="pageNumbers mtop40"></div>
                <!--<div class="nextPage">&rsaquo;</div>
                          <div class="lastPage">&raquo;</div>-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

