
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLandings.cshtml";
}

<!-- Main Container -->
<div class="main-conainer">
    <div class="main-conainer-inner">
        <div class="cust-container">
            <div class="cust-container-p20">
                <div class="bubbles-bg-container">
                    <figure id="infraFormulationsProjectsvg">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1680 800" preserveAspectRatio="xMinYMin meet">
                            <!-- set your background image -->
                            <image width="1680" height="800" xlink:href="~/images/bubbles-bg.png" />

                            <!-- Getting to and from Airport -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/GettingToAndFromAirport" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" x="270" width="225" height="225" y="8"></rect>
                                </a>
                            </g>

                            <!-- At The Airport -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/AtTheAirport" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="525" y="88"></rect>
                                </a>
                            </g>

                            <!-- Security Checkpoint -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/SecurityCheckpoint" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="268" x="825" height="268" y="8"></rect>
                                </a>
                            </g>

                            <!-- Traveling With Children -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/TravelingWithChildren" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="1167" y="34"></rect>
                                </a>
                            </g>

                            <!-- Airport & Services -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/AirportServices" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="194" height="194" y="100" x="1439"></rect>
                                </a>
                            </g>

                            <!-- Airline Information -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/EmergencyContacts" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="67" y="207"></rect>
                                </a>
                            </g>

                            <!-- Airline Call Center -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/EmergencyContacts" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="268" height="268" x="342" y="321"></rect>
                                </a>
                            </g>

                            <!-- Car Rentals Taxis and Parking -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/Transport" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="715" y="278"></rect>
                                </a>
                            </g>

                            <!-- Shop and Dine -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/ShopAndDine" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="1029" y="278"></rect>
                                </a>
                            </g>

                            <!-- Covid Guidelines -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/EmergencyContacts" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" height="250" width="250" y="317" x="1307"></rect>
                                </a>
                            </g>

                            <!--Baggage -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/Baggage" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="175" height="175" x="184" y="545"></rect>
                                </a>
                            </g>

                            <!-- Route Map -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/EmergencyContacts" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="552" y="544"></rect>
                                </a>
                            </g>

                            <!-- Emergency Contacts -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Landing/EmergencyContacts" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="871" y="504"></rect>
                                </a>
                            </g>

                            <!-- Talk to US -->
                            <g class="infraFormulationsHoverGroup" opacity="1">
                                <a href="/Home/Call" class="infraFormulationsImgClick">
                                    <rect opacity="0" fill="#ffffff" rx="50%" width="225" height="225" x="1168" y="563"></rect>
                                </a>
                            </g>

                        </svg>
                    </figure>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- END Main Container -->

<div class="clearfix"></div>

