
@{
    ViewBag.Title = "Transport";
    Layout = "~/Views/Shared/_LayoutLandings.cshtml";
}

<div class="paginate-container">
    <!-- Rounded Bubble with title Left Section-->
    <div class="paginate-container-imgTitlesec-fl">
        <div class="paginate-container-imgTitlesec">
            <div class="bubbleImg-sec">
                <div class="bubble-rounded bubble-rounded-bgFour"> <img src="~/images/icons/rentals-and-parking-icon.svg" alt="Car Rentals Taxis and Parking"> </div>
            </div>
            <div class="bubbleTitle">
                <h2>Transport</h2>
                <p>Hop &amp; go…Transport</p>
            </div>
            <div class="clearfix"></div>

            <div class="cust-back-btn">
                <a href="/Landing/index"><img src="~/images/icon-back-button.svg" alt="Back Button Icon"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- END Rounded Bubble with title Left Section -->
    <!-- Accordian Details Right section -->
    <div class="paginate-container-accordian-fl">
        <div class="paginate">
            <div class="items">
                <div id="sec_1" class="sec_content_holder">
                    <button class="accordion active"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Pre-Paid Taxi</button>
                    <div class="panel" style="display: block;">
                        <p class="pmbot">Pre-paid: App based taxi available, Airport Taxi service is easily accessible from the Arrival Zone, Car Rentals are available at arrival hall.</p>
                        <div class="mtop30">
                            <img src="~/images/transport/pre-paid-taxi.jpg" alt="Pre-Paid Taxi" style=" width:100%;">
                        </div>
                    </div>
                </div>
                <div id="sec_2" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Bus</button>
                    <div class="panel">
                        <p>The nearest bus stop from Ahmedabad Airport is Sardar Nagar Approach, which is about 12 minutes walking from the Airport facilities.</p>
                        <p>Introducing the New Route : ISKCON to RTO to Airport</p>
                        <p>Existing Route No : 15 ISKCON - RTO Circle</p>
                        <p>Major locations covered – ISKCON, Jodhpur, Start Bazaar, Adhajan Mandal, Himmatlal Park, Memnagar, Akbarnagar, Jaymangal, Sola Cross, Shastrinagar, Pragatinagar, Ranip Bus Depot, RTO, Airport.</p>
                        <p>Route Length: 19 KM</p>
                        <p>Bus Service features : 10 electric buses for the airport and 5 for ISKCON to RTO</p>
                        <p>Operation Time : 6am to 11pm</p>
                        <p>Frequency : every 15 to 25 minutes</p>
                        <p class="pmbot">Fare : Rs. 50 per passenger.</p>
                        <div class="mtop30">
                            <img src="~/images/transport/bus-service.jpg" alt="bus-service" style=" width:100%;">
                        </div>
                    </div>
                </div>
                <div id="sec_3" class="sec_content_holder">
                    <button class="accordion"><img src="~/images/icons/icon-accordion-plus.svg" alt="icon" class="plus"> <img src="~/images/icons/icon-accordion-minus.svg" alt="icon" class="minus"> Car Parking</button>
                    <div class="panel">
                        <p>Ahmedabad Airport has car parking facility at both domestic and international Airports for the convenience of the passengers. These car parking areas are well maintained and operational 24*7. Specific pick up and drop off points are assigned across terminals.</p>

                        <div>
                            <table class="tblOtherServices">
                                <thead>
                                    <tr>
                                        <th colspan="5"><p style="margin:0px;">Schedule of parking tariff</p></th>
                                    </tr>
                                </thead>

                                <thead>
                                    <tr>
                                        <th>Parking Service </th>
                                        <th colspan="5">Parking Charges</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th>Type of Vehicles</th>
                                        <th>Up to 30 minutes (Rs)</th>
                                        <th>Up to 02 hrs.(Rs)</th>
                                        <th>Every additional 02 hrs.</th>
                                        <th>Up to 24 hrs.</th>
                                    </tr>

                                    <tr>
                                        <td>Coach/Bus</td>
                                        <td>500</td>
                                        <td>800</td>
                                        <td>200</td>
                                        <td>3000</td>
                                    </tr>

                                    <tr>
                                        <td>Tempo/Minibus </td>
                                        <td>300</td>
                                        <td>500</td>
                                        <td>125</td>
                                        <td>1875</td>
                                    </tr>

                                    <tr>
                                        <td>Private Car/SUV</td>
                                        <td>90</td>
                                        <td>150</td>
                                        <td>40</td>
                                        <td>590</td>
                                    </tr>

                                    <tr>
                                        <td>Commercial Car</td>
                                        <td>90</td>
                                        <td>150</td>
                                        <td>40</td>
                                        <td>590</td>
                                    </tr>

                                    <tr>
                                        <td>Two-Wheeler</td>
                                        <td>30</td>
                                        <td>80</td>
                                        <td>10</td>
                                        <td>190</td>
                                    </tr>

                                    <tr>
                                        <th class="text-center" colspan="6">
                                            <p style="margin-bottom: 5px;"><b>Note:</b> The above charges will be applicable for pick - up and drop at Arrival / Departure area.</p>
                                            <ol style="padding-left: 15px; margin-bottom: 0px;">
                                                <li>0 to 10 minutes will be free for all vehicles at Departure and Arrival area of Domestic Airport.</li>
                                                <li>0 to 10 minutes will be free for all vehicles at Departure and Arrival area of International Airport.</li>
                                            </ol>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="pager">
                <!--<div class="firstPage">&laquo;</div>
                          <div class="previousPage">&lsaquo;</div>-->
                <div class="pageNumbers mtop40"></div>
                <!--<div class="nextPage">&rsaquo;</div>
                          <div class="lastPage">&raquo;</div>-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <!-- END Accordian Details Right section -->
</div>

